.wrapper{

}
  .content img{
    height: 100%;
    width: 100%;
  }
  
  .content{
    position: relative;
  }

  .link__wrapper{
    padding: 10px;
  }

 .nav__menu{
   box-shadow: 2px 2px 10px grey;
   padding: 0.5%;
 }