
.gridList {
    width: 70%;
}

.root {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}
.slider__photo{
    height: 100%;
    width: 100%;
}
.Slide-text-174{
    display: none;
}
.changePhotoBlock{
    position: absolute;
    left: 20%;
    top: 80%;
}
