
.user__avatar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.user__avatar img{
    height: 80px;
    width: 80px;
    border-radius: 90%;
    box-shadow: 5px 5px 10px gray;
}
.user__card{
    position: relative;
    margin: 0 5%;
    padding: 2%;
}
.user__avatar button{
    color: #fff;
    width: 100px;
    padding: 3% 3%;
    margin-top: 5px;
    border: 0 none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);

}
.unfollow__btn{
    background: rgb(231,89,137);
    background: linear-gradient(90deg, rgba(231,89,137,1) 11%, rgba(184,33,99,1) 44%, rgba(121,9,58,1) 72%);
}
.follow__btn{
    background: #6020d2;
    background: linear-gradient(to bottom, #6020d2 0, #673ab7 100%);
}



.pagination__block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: white;
    color: white;
    font-size: 0px;
    z-index: 1000;
}

.avatar{
/*height: 100%;*/
/*    width: 100%;*/
/*    zoom: 200%;*/
    height: 80px;
    width: 80px;
}
.avatar__img{
height: 100%;
    width: 100%;
    zoom: 150%;
}
.message__btn{
    position: absolute;
    right: 20px;
}