
body{
    margin: 0;
    padding: 0;
}
.postBlock {
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.root {
    width: 100%;
    margin-bottom: 10px;
    max-width: 900px;
}

.avatar {

}

.media {
    height: 0;
    padding-top: 56.25%
}

.like__block {
    width: 100px;

}

.textArea {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 3px 5px 2px #bbc0c7
}

.show__btn {
    float: right;
}

.share__btn {
    color: #0018f4;
}

.comment__btn {
    color: #59d600;
}

.add__comment__btn {
    color: #8224e3;
}

.comment__area {
    max-height: 400px;
    overflow-y: scroll;
}

.comment__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 5%;
    padding: 0 5%;
    /*max-width: 750px;*/
}

.comment__content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.comment__user__info {
    position: relative;
}

.comment__user__info, .comment__user__name {
    display: flex;
    flex-direction: row;
}

.comment__user__name {
    margin-left: 20px;
}

.comment__date {
    position: absolute;
    right: 0;
    color: #6b6b6b;
}

.name {
    padding: 0px 3px;
}

.comment {
    padding-left: 13%;
}
.comment__btn__block{
    display: flex;
    flex-direction: row;
}

.post__text__block{
    margin: 0;
    padding: 0 90px;
}

.post__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 0px 5px;
}
.card__content{
    padding: 0px 0px 10px;
}