
.avatar{
    cursor: pointer;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.user__area,.arrow_btn{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}