.wrapper{
    position: relative;
    height: 55vh;
}


.background{
    display: flex;

    justify-content: center;
}
.background img {
    height: 55vh;
    width: 100%;
    opacity: 0.5;
}

.profile__info{
    top: 20%;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
}

.profile__info img {
    opacity: 1;
    height: 200px;
    width: 200px;
    border-radius: 90%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.27);
}
.profile__info h4{
    text-transform: uppercase;
    text-align: center;
}