
.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 3%;
}

.dialogs__items {

}
.dialogs__items .active{
    color: darkred;
}
.item {

}

.messages {

}

.messages__items {

}

.messages {

}