.container{
    display: grid;
    grid-template-columns: 330px 1fr;
    /*overflow: hidden;*/
}

.dialog__right__pane{
    display: flex;
    flex-direction: column;
}

.list__items {
    padding: 0px 0px 0px 100px;
}

.dialog__header {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding: 1%;
    background-color: #cfe6e6;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.name{
    padding: 10px 3px;
}
.outgoing, .incoming {
    display: flex;
    flex-direction: row;

}

.outgoing {
    justify-content: flex-end;
    width: 100%;
}

.incoming {
    justify-content: left;
    width: 600px;
}

.message__text__wrapper {
    display: flex;
    position: relative;
    border-radius: 10px;
    padding: 5px 25px 5px 10px;
    height: 100%;
    background-color: #cfe6e6;
    margin: 10px;
}

.message__text {
    height: 100%;
    max-width: 350px;
    word-wrap: break-word;
}

.dialog__wrapper {
    margin-top: 80px;
    /*max-height: 70vh;*/
    padding: 30px 30px 60px;
    /*overflow-y: scroll*/

}

.message__data {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    color: gray;
}

.message__data span {
    padding: 5px;
}

.message__detete__btn {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;

}

.dialog__users__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: 100%;
    min-height: 100vh;
    background-color: #e9e6e1;
    overflow-y: scroll
}

.dialogs__data__message__text {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 2%;
}

.dialogs__data__box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialogs__data {
    padding: 2%;
    margin: 2%;
    cursor: pointer;
    border-radius: 5px;
    /*box-shadow: 2px 2px 10px grey;*/
    background-color: white;
}

.dialogs__data__active {
    background-color: #cfe6e6;
    padding: 2%;
    margin: 2%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;

}

.dialogs__wrapper{
    background-color: mintcream;
}

.user__name{
    padding-top: 3px;
    padding-left: 5px;
}

